In [1]:
import pandas as pd
import numpy as np

C:\Users\panka\AppData\Local\Temp\ipykernel_17784\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('OnlineRetailDataset.csv', encoding='latin1')

In [3]:
print(df.shape)

(10050, 8)

In [4]:
columns = list(df.columns)
print(columns)

['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']

In [5]:
print(df.head())

   InvoiceNo  StockCode Description  Quantity       InvoiceDate  UnitPrice  \
0     127358    74339.0  Everything         2  20/03/2024 16:22       2.49
1     281781    70099.0      Parent        16  01/05/2023 01:42      21.78
2     851419    82979.0     Forward        15  27/03/2023 12:52      38.77
3     641983    20488.0        Take         8  30/12/2023 06:40       0.78
4     627297    45993.0      Strong        19  05/04/2023 22:57      15.13

   CustomerID                      Country
0       55661     Northern Mariana Islands
1       43851  Falkland Islands (Malvinas)
2        7546                        Spain
3       31609                   Luxembourg
4       67042                New Caledonia

In [6]:
print(df.describe())

           InvoiceNo     StockCode      Quantity     UnitPrice    CustomerID
count   10050.000000   9950.000000  10050.000000  10050.000000  10050.000000
mean   501481.156020  54868.746131     10.547264     25.036905  49805.696119
std    290412.191868  26102.429587      5.803496     14.266070  29019.172089
min       213.000000  10000.000000      1.000000      0.500000      4.000000
25%    245891.750000  32139.250000      6.000000     12.810000  24750.750000
50%    502431.500000  54863.000000     11.000000     24.930000  49730.000000
75%    756365.250000  77336.750000     16.000000     37.350000  75124.750000
max    999967.000000  99990.000000     20.000000     49.990000  99998.000000

In [7]:
new_df = df
print(new_df.isnull().sum())
print("Missing values in distribution:")
print(new_df.isnull().mean())

InvoiceNo        0
StockCode      100
Description     14
Quantity         0
InvoiceDate      0
UnitPrice        0
CustomerID       0
Country          0
dtype: int64
Missing values in distribution:
InvoiceNo      0.000000
StockCode      0.009950
Description    0.001393
Quantity       0.000000
InvoiceDate    0.000000
UnitPrice      0.000000
CustomerID     0.000000
Country        0.000000
dtype: float64

In [8]:
print(new_df.duplicated().any()) 
print(new_df.duplicated())
print(new_df.shape)

True
0        False
1        False
2        False
3        False
4        False
         ...
10045    False
10046    False
10047    False
10048    False
10049    False
Length: 10050, dtype: bool
(10050, 8)

In [9]:
print("Column datatypes: ")
print(new_df.dtypes)

Column datatypes:
InvoiceNo        int64
StockCode      float64
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID       int64
Country         object
dtype: object

In [10]:
new_df["Country"] = new_df["Country"].replace({"United Kingdom":"UK", "France":"FR"}) 
print(new_df.head())
print(new_df.shape)

   InvoiceNo  StockCode Description  Quantity       InvoiceDate  UnitPrice  \
0     127358    74339.0  Everything         2  20/03/2024 16:22       2.49
1     281781    70099.0      Parent        16  01/05/2023 01:42      21.78
2     851419    82979.0     Forward        15  27/03/2023 12:52      38.77
3     641983    20488.0        Take         8  30/12/2023 06:40       0.78
4     627297    45993.0      Strong        19  05/04/2023 22:57      15.13

   CustomerID                      Country
0       55661     Northern Mariana Islands
1       43851  Falkland Islands (Malvinas)
2        7546                        Spain
3       31609                   Luxembourg
4       67042                New Caledonia
(10050, 8)

In [11]:
print(new_df["CustomerID"].unique())

[55661 43851  7546 ... 18950  2009 22902]

In [12]:
new_df['Description'] = new_df['Description'].replace({'WHITE HANGING HEART': '000',
                                                       'HAND WARMER UNION JACK': '111',
                                                       'BOX OF VINTAGE 787': '2',
                                                       'ALARM CLOCK 868': '3'})

print(new_df.head())

   InvoiceNo  StockCode Description  Quantity       InvoiceDate  UnitPrice  \
0     127358    74339.0  Everything         2  20/03/2024 16:22       2.49
1     281781    70099.0      Parent        16  01/05/2023 01:42      21.78
2     851419    82979.0     Forward        15  27/03/2023 12:52      38.77
3     641983    20488.0        Take         8  30/12/2023 06:40       0.78
4     627297    45993.0      Strong        19  05/04/2023 22:57      15.13

   CustomerID                      Country
0       55661     Northern Mariana Islands
1       43851  Falkland Islands (Malvinas)
2        7546                        Spain
3       31609                   Luxembourg
4       67042                New Caledonia

In [13]:
print(new_df.shape) 
print(new_df.head())

(10050, 8)
   InvoiceNo  StockCode Description  Quantity       InvoiceDate  UnitPrice  \
0     127358    74339.0  Everything         2  20/03/2024 16:22       2.49
1     281781    70099.0      Parent        16  01/05/2023 01:42      21.78
2     851419    82979.0     Forward        15  27/03/2023 12:52      38.77
3     641983    20488.0        Take         8  30/12/2023 06:40       0.78
4     627297    45993.0      Strong        19  05/04/2023 22:57      15.13

   CustomerID                      Country
0       55661     Northern Mariana Islands
1       43851  Falkland Islands (Malvinas)
2        7546                        Spain
3       31609                   Luxembourg
4       67042                New Caledonia